<h1>Patient</h1>

<%= @patient.inspect %>

<p>
  <strong>First Name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Family Name:</strong>
  <%= @patient.family_name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>
<%= link_to 'Back', root_path %>
