<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if @current_patient %>
      <%= @current_patient.name %>
      , welcome back!
        <li>
          <%= link_to "Profile", profile_path%>
        </li>
        <li>
          <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
    <% else %>
        Kindly sign in or register a new account
        <li>
          <%= link_to "Sign Up", register_path%>
        </li>
        <li>
          <%= link_to "Log in", login_path%>
        </li>
    <% end %>

    <%= yield %>
    <br />
    <%= render "partials/flash" %>
  </body>
</html>
